# Dependencies
node_modules/
.pnp
.pnp.*

# Testing
coverage/

# Next.js (Client)
client/.next/
client/out/
client/next-env.d.ts
client/*.tsbuildinfo

# Express (Server)
server/dist/
server/*.tsbuildinfo

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
client/.env*
server/.env*

# Prisma
server/prisma/dev.db
server/prisma/dev.db-journal

# Misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vercel

# Editor
.vscode/
.idea/
*.swp
*.swo
